<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.muksullang.dao.AdminDAO">

	<select id="signIn" parameterType="AdminDTO" resultType="AdminDTO">
		SELECT *
		FROM   ADMIN
	    WHERE  ADMIN_ID = #{adminId}
	      AND  ADMIN_PASSWD = #{adminPasswd}
	</select>
	
	<insert id="createPost" parameterType="PostDTO" useGeneratedKeys="true" keyProperty="postId">
		INSERT INTO POST(
		POST_NM,
		ADMIN_ID,
		TITLE,
		SORT,
		LOCATION,
		IMAGE,
		RUNNING_TIME
		)
		VALUES(
		#{postNm},
		#{adminId},
		#{title},
		#{sort},
		#{location},
		#{image},
		#{runningTime}
		)
	</insert>
	
	<insert id="createContent" parameterType="ContentDTO">
		INSERT INTO CONTENT(
		CONTENT,
		POST_ID
		)
		VALUES(
		#{content},
		#{postId}
		)
	</insert>
	
</mapper>