<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/post/layout1.html}">
<head>
<meta charset="UTF-8">
<title>Best Of - 게시물 디테일</title>
<style>
    .blog-pic {
        text-align: center; /* 이미지를 가운데 정렬 */
        margin-bottom: 20px; /* 이미지와 제목 사이의 간격 설정 */
    }

    .blog-pic img {
        display: inline-block; /* 이미지를 인라인 블록 요소로 설정 */
        vertical-align: middle; /* 이미지를 수직 가운데 정렬 */
    }
    
    /* 별 스타일 */
	.rating-star {
	    font-size: 24px;
	    color: gold;
	    margin-left: 10px;
	    display: inline-block;
	    vertical-align: middle;
	}
</style>
<script>
	function processDeleteReply(replyId){
		let isDelete = confirm("작성한 리뷰를 삭제하시겠습니까?");
		if (isDelete){
			location.href = "/reply/deleteReply?replyId=" + replyId;
		}
	}
</script>
</head>
<body>
	<div layout:fragment="content1">
		<!-- Blog Section Begin -->
		<section class="blog-section spad">
			<div class="blog-pic">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-12">
	                        <img th:src="@{/post/thumbnails(fileName=${postDTO.image})}" alt="" style="width: 100%; max-width: 600px;" >
	                    </div>
	                </div>
	            </div>
	        </div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="blog-text">
							<div class="blog-title">
								<!--<span>04 April 2024</span> 맛집 소개라 없어도 될 것 같음-->
								<h2 th:text="${postDTO.title}">title</h2>
								<ul class="tags">
									<li th:text="${postDTO.sort}">sort</li>
								</ul>
							</div>
							<!-- 내용 2개 -->
							
							<div class="blog-desc" th:each="contentDTO : ${contentDTOList}">
								<p th:text="${contentDTO.content}"></p>
							</div>
							<!-- 강조 메시지 1개 -->
							<div class="blog-quote">
								<i class="fa fa-quote-left"></i>
								<p th:text="${contentImpactMsg.content}"></p>
							</div>
							<!-- 리뷰 리스트(수정, 삭제 버튼 추가) -->
							<div class="blog-comment">
								<h3 th:text="|Comments(${replyCnt})|">Comments 개수</h3>
								<div class="single-comment" th:each="replyMap : ${replyList}">
									<img th:src="@{/post/userThumbnails(fileName=${replyMap.profileUUID})}" alt="">
									<ul>
										<li th:text="${replyMap.userId}">유저 아이디</li>
										<li th:text="${#dates.format(replyMap.uploadDt,'yyyy-MM-dd')}">작성일</li>
										<li th:text="|${replyMap.rating} / 5|">평가</li>
									</ul>
									<p th:text="${replyMap.content}">content</p>
									<th:block th:if="${session.userId != null and session.userId == replyMap.userId}">
										<input type="button" value="수정" th:onclick="|location.href='@{/reply/updateReply(replyId=${replyMap.replyId})}'|" >
										<input type="button" value="삭제" th:onclick="|processDeleteReply('${replyMap.replyId}')|">
									</th:block>
								</div>
							</div>
							<!-- 리뷰 작성 -->
							<th:block th:if="${session.userId != null}">
								<form th:action="@{/reply/createReply}" method="post" class="comment-form">
									<h3>Leave a Comment</h3>
									<div class="row">
										<div class="col-lg-6">
											<label for="userId">UserId</label>
											<input type="text" th:value="${session.userId}" id="userId" name="userId" readonly>
										</div>
										<div class="col-lg-6">
											<label for="rating">Rating</label>
											<span class="rating-star">&#9733;</span>
											<select id="rating" name="rating"class="form-control custom-width" >
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</div>
										<div class="col-lg-12">
											<textarea id="content" name="content" placeholder="Comment"></textarea>
										</div>
									</div>
									<input type="hidden" id ="postId" name="postId" th:value="${postDTO.postId}"> 
									<button type="submit">Post</button>
								</form> 
							</th:block>
							<th:block th:unless="${session.userId != null}">
								<p style="color:red;" align="center">
								리뷰 작성을 하고 싶다면 ? MyPage에서 로그인 후에 리뷰 작성 가능합니다
								</p>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Blog Section End -->

		<!-- Similar Recipe Section Begin -->
		<section class="similar-recipe spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="similar-item">
							<a href="#"><img src="/portfolio_template3/img/cat-feature/small-7.jpg" alt=""></a>
							<div class="similar-text">
								<div class="cat-name">Food</div>
								<h6>0000피자 - 성수점</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="similar-item">
							<a href="#"><img src="/portfolio_template3/img/cat-feature/small-6.jpg" alt=""></a>
							<div class="similar-text">
								<div class="cat-name">Food</div>
								<h6>0000햄버거 - 강남점</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="similar-item">
							<a href="#"><img src="/portfolio_template3/img/cat-feature/small-5.jpg" alt=""></a>
							<div class="similar-text">
								<div class="cat-name">Food</div>
								<h6>000000 - 00점</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="similar-item">
							<a href="#"><img src="/portfolio_template3/img/cat-feature/small-4.jpg" alt=""></a>
							<div class="similar-text">
								<div class="cat-name">Food</div>
								<h6>샌드위치 - 00점</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Similar Recipe Section End -->
	</div>
</body>
</html>