<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/post/layout1.html}">
<head>
<meta charset="UTF-8">
<title>Best Of</title>
</head>
<body>
	<div layout:fragment="content1">
		<!-- Hero Search Section Begin -->
		<div class="hero-search set-bg" data-setbg="/portfolio_template3/img/search-bg.jpg">
			<div class="container">
				<div class="filter-table">
					<form action="#" class="filter-search">
						<input type="text" placeholder="Detail"> <select
							id="category">
							<option value="basic">Category</option>
							<option value="food">Food</option>
							<option value="dessert">Dessert</option>
							<option value="other">Other</option>
						</select> <select id="tag">
							<option value="basic">Location</option>
							<option value="광주">성수점</option>
							<option value="광주">광주점</option>
							<!--tag는 지역 00점인데 일단 웹에서 지원하는 지역만 넣어놓자-->
						</select>
						<button type="submit">Search</button>
					</form>
				</div>
			</div>
		</div>
		<!-- Hero Search Section End -->

		<!-- Recipe Section Begin -->
		<section class="recipe-section spad">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-4 col-sm-6" th:each="bestOf : ${bestOfList}">
		                <div class="recipe-item">
		                    <img th:src="${bestOf.image}" alt="Recipe Image">
		                    <div class="ri-text">
		                        <div class="cat-name" th:text="${bestOf.sort}">Sort</div>
		                        <a th:href="@{/post/bestOfPost(postId=${bestOf.postId})}">
		                            <h4 th:text="${bestOf.title}">Title</h4>
		                        </a>
		                        <p>
		                            <span th:text="${bestOf.location}">Location</span>
		                            <br>
		                            <span th:text="${bestOf.runningTime}">Running Time</span>
		                        </p>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-lg-12">
		                <div class="recipe-pagination">
		                    <a href="#" class="active">01</a> <a href="#">02</a> <a href="#">03</a>
		                    <a href="#">04</a> <a href="#">Next</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		
		<!-- Recipe Section End -->

	</div>
</body>
</html>