<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{post/layout2.html}">
<head>
<meta charset="UTF-8">
<title>Recommend Detail</title>
</head>
<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
<script>
	function processDeleteReply(replyId){
		let isDelete = confirm("작성한 리뷰를 삭제하시겠습니까?");
		if (isDelete){
			location.href = "/reply/deleteReply?replyId=" + replyId;
		}
	}
</script>
<body>
	<div layout:fragment="content2">
		<!-- Single Post Section Begin -->
		<section class="single-post spad">
			<div class="single-post__hero set-bg"
				th:attr="data-setbg=@{/post/thumbnails(fileName=${postDTO.image})}"></div>
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-8">
						<div class="single-post__title">
							<div class="single-post__title__meta">
								<h2 th:text="${#dates.format(postDTO.enrollAt,'dd')}">Day</h2>
								<span th:text="${#dates.format(postDTO.enrollAt,'MM')}">Month</span>
							</div>
							<div class="single-post__title__text">
								<ul class="label">
									<li>Food</li>
									<li th:text="${postDTO.sort}">sort</li>
								</ul>
								<h4>주제</h4><!-- title -->
								<ul class="widget">
									<li>by Admin</li>
									<li th:text="|${replyCnt} Comments|">Comment 수</li>
								</ul>
							</div>
						</div>
						<div class="single-post__social__item">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
							</ul>
						</div>
						
						<!-- sort가 Recipe이면 여기에 content 뿌리기 -->
						<div th:if="${postDTO.sort == 'Recipe'}">
							<div class="single-post__top__text">
								<p>content1(게시물 간단한 소개)</p>
							</div>
							<div class="single-post__recipe__details">
								<div class="single-post__recipe__details__option">
									<ul>
										<li>
											<h5>
												<i class="fa fa-user-o"></i> SERVES
											</h5> <span>2 as a main</span>
										</li>
										<li>
											<h5>
												<i class="fa fa-clock-o"></i> PREP TIME
											</h5> <span>15 minutes</span>
										</li>
										<li>
											<h5>
												<i class="fa fa-clock-o"></i> Cook TIME
											</h5> <span>45 minutes</span>
										</li>
	
									</ul>
								</div>
								<div class="single-post__recipe__details__indegradients">
									<h5>준비 재료</h5>
									<ul>
										<li>준비재료들</li>
									</ul>
								</div>
								<div class="single-post__recipe__details__direction">
									<h5>따라해보기</h5>
									<ul>
										<li>1. 요리 순서</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- sort가 Article이면 여기에 content 뿌리기 -->
						<div th:if="${postDTO.sort == 'Article'}">
							<div class="single-post__quote">
								<p>content1 게시물 소개 </p>
							</div>
							<br><br>
							<div class="single-post__desc">
								<p>content2</p>
								<h4>content 3(임팩트)</h4>
								<p>content 4</p>
							</div>
							<div class="single-post__more__details">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<img th:src="@{/post/thumbnails(fileName=${postDTO.image})}" alt="">
									</div>
									<div class="col-lg-6 col-md-6">
										<p>content 5</p>
										<p>content 6</p>
									</div>
								</div>
							</div>
						</div>
						<div class="single-post__author__profile">
							<div class="single-post__author__profile__text">
								<h4>출처</h4>
								<p>
								    editor 작성자 이름
								</p>
								<div class="single-post__author__profile__social">
									<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
										class="fa fa-twitter"></i></a> <a href="#"><i
										class="fa fa-google-plus"></i></a> <a href="#"><i
										class="fa fa-instagram"></i></a> <a href="#"><i
										class="fa fa-youtube-play"></i></a>
								</div>
							</div>
						</div>
						<!-- 리뷰 리스트 -->
						<div class="single-post__comment">
							<div class="widget__title">
								<h4 th:text="|Comment ${replyCnt}|">Comment 수</h4>
							</div>
							<div class="single-post__comment__item" th:each="replyMap : ${replyList}">
								<div class="single-post__comment__item__pic">
									<img th:src="@{/post/userThumbnails(fileName=${replyMap.profileUUID})}" alt="">
								</div>
								<div class="single-post__comment__item__text">
									<h5 th:text="${replyMap.userId}">UserId</h5>
									<span th:text="${replyMap.uploadDt}">등록날짜</span>
									<p th:text="${replyMap.content}">리뷰 내용</p>
									<ul>
										<li><a href="#"><i class="fa fa-heart-o"></i></a></li>
										<li><a href="#"><i class="fa fa-share-square-o"></i></a></li>
									</ul>
									<th:block th:if="${session.userId != null and session.userId == replyMap.userId}">
										<input type="button" value="수정" th:onclick="|location.href='@{/reply/updateRecommendReply(replyId=${replyMap.replyId})}'|" >
										<input type="button" value="삭제" th:onclick="|processDeleteReply('${replyMap.replyId}')|">
									</th:block>
								</div>
							</div>
						</div>
						<!--  리뷰 등록 -->
						<th:block th:if="${session.userId != null}">
							<div class="single-post__leave__comment">
								<div class="widget__title">
									<h4>Leave a comment</h4>
								</div>
								<form th:action="@{/reply/createRecommendReply}" method="post">
									<div class="input-list">
										<label for="userId">UserId : </label>
										<input type="text" th:value="${session.userId}" id="userId" name="userId" readonly> 
									</div>
									<textarea  id="content" name="content" placeholder="Comment"></textarea>
									<input type="hidden" id ="postId" name="postId" th:value="${postDTO.postId}"> 
									<button type="submit" class="site-btn">Submit</button>
								</form>
							</div>
						</th:block>
						<th:block th:unless="${session.userId != null}">
								<p style="color:red;" align="center">
								리뷰 작성을 하고 싶다면 ? MyPage에서 로그인 후에 리뷰 작성 가능합니다
								</p>
					    </th:block>
					</div>
				</div>
			</div>
		</section>
		<!-- Single Post Section End -->
	</div>
</body>
</html>