<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/post/layout2.html}">
<head>
<meta charset="UTF-8">
<title>Recommend</title>
<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
</head>
<body>
	<div layout:fragment="content2">
		<!-- Categories Section Begin -->
		<section class="categories categories-grid spad">
			<div class="categories__post">
				<div class="container">
					<div class="categories__grid__post">
						<div class="row">
							<div class="col-lg-8 col-md-8">
								<div class="breadcrumb__text">
									<h2>
										This Month's Title: <span>Health</span>
									</h2>
									<div class="breadcrumb__option">
										<a th:href="@{/post/main}">Home</a> <span>Recommend</span>
									</div>
								</div>
								<div class="categories__list__post__item" th:each="recommend : ${recommendList}">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__pic set-bg"
												 th:attr="data-setbg=@{/post/thumbnails(fileName=${recommend.image})}">
												<!--#dates.format을 사용하면 500 에러가 뜸
												th:text="${#dates.format(recommend.enrollAt, 'dd')}"
												-->
												<div class="post__meta">
													<h4>04</h4>
													<span>Apr</span>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__text">
												<span class="post__label" th:text="${recommend.sort}">sort</span>
												<h3>
													<a th:href="@{/post/recommedDetail(postId=${recommend.postId})}" th:text="${recommend.title}">주제</a>
												</h3>
												<ul class="post__widget">
													<li>by <span>Admin</span></li>
													<li>5 Comments</li>
												</ul>
												<p th:text="${__${'content_' + recommend.postId}__}">
													게시물 간단한 소개
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="categories__pagination">
											<a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a
												href="#">Next</a>
										</div>
									</div>
								</div>
							</div>
							<!-- Add other columns or sections if needed -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Categories Section End -->
	</div>
</body>
</html>