<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>게시물 등록</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icon -->
<link rel="icon" href="/portfolio_admin_template/images/fevicon.png" type="image/png" />
<!-- bootstrap css -->
<link rel="stylesheet" href="/portfolio_admin_template/css/bootstrap.min.css" />
<!-- site css -->
<link rel="stylesheet" href="/portfolio_admin_template/style.css" />
<!-- responsive css -->
<link rel="stylesheet" href="/portfolio_admin_template/css/responsive.css" />
<!-- color css -->
<link rel="stylesheet" href="/portfolio_admin_template/css/colors.css" />
<!-- select bootstrap -->
<link rel="stylesheet" href="/portfolio_admin_template/css/bootstrap-select.css" />
<!-- scrollbar css -->
<link rel="stylesheet" href="/portfolio_admin_template/css/perfect-scrollbar.css" />
<!-- custom css -->
<link rel="stylesheet" href="/portfolio_admin_template/css/custom.css" />
<!-- calendar file css -->
<link rel="stylesheet" href="/portfolio_admin_template/js/semantic.min.css" />
<!-- fancy box js -->
<link rel="stylesheet" href="/portfolio_admin_template/css/jquery.fancybox.css" />
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond./portfolio_admin_template/js/1.4.2/respond.min.js"></script>
      <![endif]-->
 <script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>

</head>
<body class="inner_page tables_page">
	<div th:if="${session.adminId == null }">
	   <br><br><br><br><br><br><br><br><br>
	   		<div align="center">
		      <span style="color:red;">로그인 후에만 Admin Page 이용가능합니다.</span>
		      <br><br>
		      <a style="color:blue;" th:href="@{/post/main}">웹페이지 홈으로 돌아가기</a>
		      /
		      <a style="color:blue;" th:href="@{/admin/signIn}">로그인</a>
	    	</div>
	   </div>
	<div th:unless="${session.adminId == null }">
		<div class="full_container">
			<div class="inner_container">
				<!-- Sidebar  -->
				<nav id="sidebar">
					<div class="sidebar_blog_1">
						<div class="sidebar-header">
							<div class="logo_section">
								<a href="#"><img class="logo_icon img-responsive"
									src="/portfolio_admin_template//portfolio_admin_template/images/logo/muksullang_signIn.jpg"
									alt="#" /></a>
							</div>
						</div>
						<div class="sidebar_user_info">
							<div class="icon_setting"></div>
							<div class="user_profle_side">
								<div class="user_img">
									<img class="img-responsive"
										src="/portfolio_admin_template/images/layout_img/sominKim.jpg"
										alt="#" />
								</div>
								<div class="user_info">
									<h6>
										<span th:text="${session.adminId}"></span>
									</h6>
									<p>
										<span class="online_animation"></span> Online
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="sidebar_blog_2">
						<h4>General</h4>
						<ul class="list-unstyled components">
							<li class="active"><a th:href="@{/admin/main}"
								data-toggle="collapse" aria-expanded="false"><i
									class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
							</li>
							<li><a th:href="@{/admin/createPost}"><i class="fa fa-table purple_color2"></i> <span>Tables</span></a></li>
							<li class="active"><a href="#additional_page"
								data-toggle="collapse" aria-expanded="false"
								class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i>
									<span>Additional Pages</span></a>
								<ul class="collapse list-unstyled" id="additional_page">
									<li><a href="profile.html">> <span>Profile</span></a></li>
									<li><a href="project.html">> <span>Projects</span></a></li>
									<li><a href="404_error.html">> <span>404 Error</span></a></li>
								</ul></li>
							<li><a href="charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>
							<li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
						</ul>
					</div>
				</nav>
				<!-- end sidebar -->
	
				<!-- right content -->
				<div id="content">
					<!-- topbar -->
					<div class="topbar">
	               <nav class="navbar navbar-expand-lg navbar-light">
	                  <div class="full">
	                     <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
	                     <div class="logo_section">
	                        <a th:href="@{/admin/main}"><img class="img-responsive" src="/portfolio_admin_template/images/logo/muksullang_logo.jpg" alt="#" /></a>
	                     </div>
	                     <div class="right_topbar">
	                        <div class="icon_info">
	                           
	                           <ul class="user_profile_dd">
	                              <li>
	                                 <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="/portfolio_admin_template/images/layout_img/sominKim.jpg" alt="#" /><span class="name_user" th:text="${session.adminId}"></span></a>
	                                 <div class="dropdown-menu">
	                                 <!-- 
	                                 <a class="dropdown-item" href="profile.html">My Profile</a>
	                                    <a class="dropdown-item" href="help.html">Help</a>
	                                  -->
	                                    <a class="dropdown-item" th:href="@{/admin/logOut}"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
	                                 </div>
	                              </li>
	                           </ul>
	                        </div>
	                     </div>
	                  </div>
	               </nav>
	            </div>
					<!-- end topbar -->
	
					<!-- dashboard inner -->
					<div class="midde_cont">
						<div class="container-fluid">
							<div class="row column_title">
								<div class="col-md-12">
									<div class="page_title">
										<h2>Tables</h2>
									</div>
								</div>
							</div>
							<!-- row -->
							 <!-- Best of 게시물 리스트 테이블 -->
						    <div class="col-md-12">
						        <div class="white_shd full margin_bottom_30">
						            <div class="full graph_head">
						                <div class="heading1 margin_0">
						                    <h2>Recommend 게시물 리스트</h2>
						                </div>
						            </div>
						            <div class="table_section padding_infor_info">
						                <div class="table-responsive-sm">
						                    <table class="table">
						                        <thead >
						                            <tr>
						                                <th>Post No</th>
						                                <th>Image</th>
						                                <th>Title</th>
						                                <th>Sort</th>
						                                <th>Enroll At</th>
						                                <th>수정</th>
						                                <th>삭제</th>
						                            </tr>
						                        </thead>
						                        <tbody >
						                            <tr th:each="recommend : ${recommendList}">
						                                <td th:text="${recommendStat.index}"></td>
						                                <td>
						                                	<img th:src="@{/post/thumbnails(fileName=${recommend.image})}" width="100">
						                                </td>
						                               <td>
														    <a th:href="@{/post/recommedDetail(postId=${recommend.postId})}" th:text="${recommend.title}"></a>
													   </td>
						                          		<td th:text="${recommend.sort}"></td>
						                                <td th:text="${recommend.enrollAt}"></td>
						                                <td>
						                                    <input type="button" value="update">
						                                </td>
						                                <td>
						                                	<input type="button" value="delete">
						                                </td>
						                            </tr>
						                        </tbody>
						                    </table>
						                </div>
						            </div>
						        </div>
						    </div>

						</div>
					</div>
					<!-- end dashboard inner -->
				</div>
				<!-- end content -->
			</div>
		</div>
		<!-- end full container -->
	
		<!-- model popup -->
		<!-- The Modal -->
		<div class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Modal Heading</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">Modal body..</div>
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end model popup -->
	
		<!-- jQuery -->
		<script src="/portfolio_admin_template/js/jquery.min.js"></script>
		<script src="/portfolio_admin_template/js/popper.min.js"></script>
		<script src="/portfolio_admin_template/js/bootstrap.min.js"></script>
		<!-- wow animation -->
		<script src="/portfolio_admin_template/js/animate.js"></script>
		<!-- select country -->
		<script src="/portfolio_admin_template/js/bootstrap-select.js"></script>
		<!-- owl carousel -->
		<script src="/portfolio_admin_template/js/owl.carousel.js"></script>
		<!-- chart js -->
		<script src="/portfolio_admin_template/js/Chart.min.js"></script>
		<script src="/portfolio_admin_template/js/Chart.bundle.min.js"></script>
		<script src="/portfolio_admin_template/js/utils.js"></script>
		<script src="/portfolio_admin_template/js/analyser.js"></script>
		<!-- nice scrollbar -->
		<script src="/portfolio_admin_template/js/perfect-scrollbar.min.js"></script>
		<script>
			var ps = new PerfectScrollbar('#sidebar');
		</script>
		<!-- fancy box js -->
		<script src="/portfolio_admin_template/js/jquery-3.3.1.min.js"></script>
		<script src="/portfolio_admin_template/js/jquery.fancybox.min.js"></script>
		<!-- custom js -->
		<script src="/portfolio_admin_template/js/custom.js"></script>
		<!-- calendar file css -->
		<script src="/portfolio_admin_template/js/semantic.min.js"></script>
	</div>

</body>
</html>